/* USER LIST TABLE */
.user-list tbody td > img {
  position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}
.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}
.table thead > tr > th {
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 0;
}
.table tbody > tr > td {
	font-size: 0.875em;
	background: #f5f5f5;
	border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
	padding-left: 20px;
}
.table thead > tr > th span {
	border-bottom: 2px solid #C2C2C2;
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}
.table a.table-link:hover {
	text-decoration: none;
	color: #2aa493;
}

.table a button {
  width: 20px !important;
}

.hide {
  display: none;
  position: absolute;
  background-color: grey;
  z-index: 1001;
}

@media screen and (max-width: 768px) {
  .info-button:hover + .hide {
    display: none !important;
  }
}

.table-link {
  position: relative;
}

.info-button:hover + .hide {
  display: block;
  color: white;
  padding: 3px;
  border-radius: 5px;
  width: 85px;
}

.assign-button:hover + .hide {
  display: block;
  color: white;
  padding: 3px;
  border-radius: 5px;
  width: 85px;
}

.check-assign {
  color: green;
  display: block;
}

.search-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-wrapper h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* POPUP */
.popup-user-info {
  padding: 0 12px;
  margin-bottom: 30px;
}

.popup-user-info .name {
  font-size: 30px;
}

.popup-user-info .row {
  display: flex;
  justify-content: center;
}

.table-responsive.scrollable {
   overflow:hidden;
   overflow-y:scroll;
   height: 400px;
}


.c-pill {
  align-items: center;
	font-weight: bold;
	font-size: 11px;
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  width: auto;

  position: relative;
  border-radius: 100px;
  line-height: 1;
  overflow: hidden;
  padding: 0px 12px 0px 20px;
  text-overflow: ellipsis;
	line-height: 1.25rem;
	color: #595959;

  word-break: break-word;
}

.c-pill:before {
  border-radius: 50%;
  content: '';
  height: 10px;
  left: 6px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px;
}

.c-pill--success {
  background: #b4eda0; }
  .c-pill--success:before {
    background: #6BC167; }
.c-pill--warning {
  background: #ffebb6; }
  .c-pill--warning:before {
    background: #ffc400; }
.c-pill--danger {
  background: #ffd5d1; }
  .c-pill--danger:before {
    background: #ff4436; }

/* ACCOUNT BALANCE */

.account-balance {
  width: 600px;
  margin-bottom: 40px;
}
